.main_elem{
	background:blue;
	width: 200px;
	height: 200px;
	border: 2px white solid;
}
.main_elem_head{
	background: red;
	height: 170px;
	width: 100%;
}
.main_elem_head_text{
	height: 20px;
	width: 100%;
	text-align: center;
	background: wheat;
}
.main_elem_bottom{
	text-align: center;
}
.main_elem_bottom_a{
	display: block;
	padding: 5px;
	color: white;
}